@import "../variables";

.figure {
  position: relative;
  cursor: pointer;
  &.first {
    height: 638px;
    > .caption {
      font-size: 2.5rem;
      line-height: 50px;
      padding: 0 46px 24px;
    }
  }
  &.second,
  &.third {
    height: 300px;
    > .caption {
      font-size: 1.125rem;
      padding: 0 24px 10px;
      line-height: 24px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: 0.3s ease transform;
    &:hover {
      transform: scale(1.01);
    }
  }
  .caption {
    bottom: 0;
    position: absolute;
    text-shadow: 1px 1px 6px #000;
    color: $white;
    font-weight: 700;
  }
}
