@import "../variables";

@keyframes pulse {
  0% {
    opacity: 0.4;
    transform: scale(0.5);
  }
  70% {
    opacity: 0.1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.container-topbar {
  height: 85px;
  background-color: #01458e;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 100;
  position: sticky;
  top: 0px;
  align-items: center;
  > .image-menu {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 100%;
    a {
      height: 100%;
      > .logo {
        height: 100%;
        padding: 0;
      }
    }
  }
}
