@import "../variables";

.container-table {
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  flex-direction: column;

  > .container-btn {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  table {
    max-width: 100%;
    overflow-x: auto;
    display: flow;

    svg {
      cursor: pointer;
    }
  }
}
